APP_NAME="Industria Feris CRM"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://proyectos.vinculo.com.py/industria-feris-crm
APP_BASE_URI=/industria-feris-crm

DB_DRIVER=sqlite
DB_DATABASE=database/data/app.sqlite

COMPANY_NAME="Industria Feris"
COMPANY_TAX_ID=""
