APP_NAME="Industria Feris CRM"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8080
APP_BASE_URI=

DB_DRIVER=sqlite
DB_DATABASE=/absolute/path/to/database/data/app.sqlite

COMPANY_NAME="Industria Feris"
COMPANY_TAX_ID=""
